.followers-card p {
    color: #000;
    font-family: Anonymous Pro;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.profile-container {
    width: 100%;
    max-width: 100%;
}

.profile-info-container {
    width: 100%;
    max-width: 100%;
}
.orange-icon {
    color: #FF5D39;
    padding: 5px;
}
.barz-card{
    width: 220px;
}
.icons{
    padding: 5px;
}
.barz-card {
    border: 1px solid black;
    border-radius: 0; 
    margin: 20px; 
    width: fit-content;
  }

.card-text{
    font-size: 12px;
}

.edit-btn{
    background-color: #FF5D39;
    height: 24px;
    border: none;
    width: auto;
    border-radius: 0;
}

.edit-btn:hover {
    background-color: grey;
}

.edit-btn h6 {
    color: black;
    font-style: normal;
    font-weight: 400;
}

.followers-card {
    width: fit-content;
    border-radius: 0;
    border: 1px solid #000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}