.filterNav {
    text-align: center;
    background-color: #FFFDCA;
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100%;
    overflow-x: hidden;
  }

.filterNav {
    --dot-bg: #FFFDCA;
    --dot-color: rgb(55, 55, 55);
    --dot-size: 1px;
    --dot-space: 20px;
    height: 100vh;
    width: 100%;
      background:
          linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
          var(--dot-color);
  }